In [ ]:
# Run this cell only if you are using Colab with Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Run this cell only if you are using Colab with Drive
!unzip '/content/drive/My Drive/Agrawal_50000.zip'

Archive:  /content/drive/My Drive/Agrawal_50000.zip
replace best_worst_new.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace ensemble_metrics.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace population_accuracies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace population_kappas.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace population_steps.json? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [ ]:
import pandas as pd

In [ ]:
df_json1=pd.read_json("best_worst_new.json")
df_json1.to_csv("best_worst_new.csv", index=None)

In [ ]:
df_json2=pd.read_json("population_steps.json")
df_json2.to_csv("population_steps.csv", index=None)

In [ ]:
list_of_names = ['population_accuracies', 'ensemble_metrics','population_kappas', 'population_steps', 'best_worst_new']

dataframes_list=[]

for i in range(len(list_of_names)):
  temp_df=pd.read_csv(list_of_names[i]+".csv")
  dataframes_list.append(temp_df)

In [ ]:
dataframes_list[0]

,accuracy_1,accuracy_2,accuracy_3,accuracy_4,accuracy_5,accuracy_6,accuracy_7,accuracy_8,accuracy_9,accuracy_10
0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.928000,0.89900,0.833000,0.635000,0.579000,0.669000,0.566000,0.660000,0.870000,0.905000
2,0.964000,0.94900,0.894000,0.605500,0.568000,0.678000,0.967000,0.658000,0.928500,0.949500
3,0.976000,0.96600,0.916333,0.604333,0.890000,0.676333,0.981000,0.658667,0.951667,0.966333
4,0.982000,0.97325,0.934000,0.899000,0.935000,0.675500,0.987333,0.661750,0.963500,0.974750
...,...,...,...,...,...,...,...,...,...,...
995,0.925096,0.77100,0.916871,0.910081,0.919152,0.919253,0.910086,0.907497,0.927000,0.924526
996,0.925012,0.72200,0.916785,0.909998,0.919051,0.919162,0.909985,0.907424,0.926903,0.924429
997,0.924941,0.64100,0.916699,0.909920,0.918966,0.919066,0.909920,0.907333,0.926825,0.924342
998,0.924886,0.58400,0.916637,0.909856,0.918896,0.919021,0.909888,0.907289,0.926744,0.924278
999,0.924788,0.63800,0.916575,0.909756,0.918810,0.918913,0.909812,0.907233,0.926662,0.924196

In [ ]:
dataframes_list[1]

In [ ]:
dataframes_list[2]

In [ ]:
dataframes_list[4]

In [ ]:
dataframes_list[3]

In [176]:
temp0=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('0').groups.items()], 
                      columns=['col','indices'])
temp1=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('1').groups.items()], 
                      columns=['col','indices'])
temp2=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('2').groups.items()], 
                      columns=['col','indices'])
temp3=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('3').groups.items()], 
                      columns=['col','indices'])
temp4=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('4').groups.items()], 
                      columns=['col','indices'])
temp5=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('5').groups.items()], 
                      columns=['col','indices'])
temp6=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('6').groups.items()], 
                      columns=['col','indices'])
temp7=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('7').groups.items()], 
                      columns=['col','indices'])
temp8=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('8').groups.items()], 
                      columns=['col','indices'])
temp9=pd.DataFrame([[k,v.values]
                        for k,v in dataframes_list[3].groupby('9').groups.items()], 
                      columns=['col','indices'])

In [167]:
#temp_data=pd.concat([temp0['col'],temp1['col'],temp2['col'],temp3['col'],temp4['col'],temp5['col'],temp6['col'],temp7['col'],temp8['col'],temp9['col']]).unique()

In [177]:
temp_data=pd.DataFrame()
result=pd.DataFrame()
result=temp_data.append([temp0,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9])

In [178]:
result.columns

Index(['col', 'indices'], dtype='object')

In [179]:
from itertools import groupby
from operator import itemgetter
res = {keys: [i for _, i in sub] for keys, sub in groupby(
         zip(result['col'], result['indices']), key = itemgetter(0))}

In [180]:
import csv

# Open the file in writing mode (no blank lines)
with open('my_file.csv', 'w', newline='') as f:

    # Create a CSV writer object
    writer = csv.writer(f)

    # Write one key-value tuple per row
    for row in res.items():
        writer.writerow(row)

In [ ]:
output = ['class_description', 'indices','accuracies']

output_list=[]

for i in range(len(output)):
  temp_out=pd.read_csv(output[i]+".csv")
  output_list.append(temp_df)

In [174]:
#pd.DataFrame(temp_data).to_csv('file_name_temp.csv')

In [164]:
#temp= pd.Index([dataframes_list[3]['0'],dataframes_list[3]['1'],dataframes_list[3]['2'],dataframes_list[3]['3'],dataframes_list[3]['4'],dataframes_list[3]['5'],dataframes_list[3]['6'],dataframes_list[3]['7'],dataframes_list[3]['8'],dataframes_list[3]['9']])

In [43]:
#import pandas as pd
#class_description= pd.concat([dataframes_list[3]['0'],dataframes_list[3]['1'],dataframes_list[3]['2'],dataframes_list[3]['3'],dataframes_list[3]['4'],dataframes_list[3]['5'],dataframes_list[3]['6'],dataframes_list[3]['7'],dataframes_list[3]['8'],dataframes_list[3]['9']]).unique()

In [ ]:
#pd.concat(temp).unique()

In [166]:
#import csv
#pd.DataFrame(class_description).to_csv('file_name.csv')

In [ ]:
#class_description