In [1]:
import pandas as pd

In [2]:
dataset_original = pd.read_csv("F:\Laurea Magistrale\Master Thesis\Dataset\Sine\DatasetWithAccuracy.csv")

In [3]:
dataset_original.head()

          0         1  Accuracy
0  0.374540  0.950714      0.00
1  0.731994  0.598658      0.00
2  0.156019  0.155995      0.75
3  0.058084  0.866176      0.00
4  0.601115  0.708073      0.00

In [4]:
dataset_original.loc[999999][0]

0.338659073

In [5]:
generated_dataset= pd.DataFrame({
    'feat_01': [],
    'feat_11': [],
    'feat_02': [],
    'feat_12': [],
    'feat_03': [],
    'feat_13': [],
    'feat_04': [],
    'feat_14': [],
    'feat_05': [],
    'feat_15': [],
    'acc_target': []
})
start=0
end=5
for i in range(999901,999999):
    row_values = {}
    for j in range(start, end):
        if(i+4<=999999):
            row_values['feat_01'] = dataset_original.loc[i][0]
            row_values['feat_11'] = dataset_original.loc[i][1]
            row_values['feat_02'] = dataset_original.loc[i+1][0]
            row_values['feat_12'] = dataset_original.loc[i+1][1]
            row_values['feat_03'] = dataset_original.loc[i+2][0]
            row_values['feat_13'] = dataset_original.loc[i+2][1] 
            row_values['feat_04'] = dataset_original.loc[i+3][0]
            row_values['feat_14'] = dataset_original.loc[i+3][1] 
            row_values['feat_05'] = dataset_original.loc[i+4][0]
            row_values['feat_15'] = dataset_original.loc[i+4][1]  
            row_values['acc_target'] = dataset_original.loc[i][2]
    generated_dataset = generated_dataset.append(row_values, ignore_index=True)
    start = start + 1
    end = end + 1

print(generated_dataset)

     feat_01   feat_11   feat_02   feat_12   feat_03   feat_13   feat_04  \
0   0.079160  0.626310  0.901669  0.181788  0.189372  0.659378  0.237569
1   0.901669  0.181788  0.189372  0.659378  0.237569  0.506175  0.533941
2   0.189372  0.659378  0.237569  0.506175  0.533941  0.237569  0.425181
3   0.237569  0.506175  0.533941  0.237569  0.425181  0.117681  0.368331
4   0.533941  0.237569  0.425181  0.117681  0.368331  0.613252  0.336005
..       ...       ...       ...       ...       ...       ...       ...
93  0.006660  0.351132  0.087649  0.708087  0.769237  0.855305  0.426246
94  0.087649  0.708087  0.769237  0.855305  0.426246  0.460579  0.905160
95       NaN       NaN       NaN       NaN       NaN       NaN       NaN
96       NaN       NaN       NaN       NaN       NaN       NaN       NaN
97       NaN       NaN       NaN       NaN       NaN       NaN       NaN

     feat_14   feat_05   feat_15  acc_target
0   0.506175  0.533941  0.237569         NaN
1   0.237569  0.425181  0.117681         NaN
2   0.117681  0.368331  0.613252         NaN
3   0.613252  0.336005  0.595583         NaN
4   0.595583  0.079774  0.312210         NaN
..       ...       ...       ...         ...
93  0.460579  0.905160  0.683111         NaN
94  0.683111  0.338659  0.691616         NaN
95       NaN       NaN       NaN         NaN
96       NaN       NaN       NaN         NaN
97       NaN       NaN       NaN         NaN

[98 rows x 11 columns]

In [6]:
generated_dataset.to_csv('generated_dataset.csv', index=False)

In [11]:
dataset_original.loc[0][2]

0.0

In [13]:
import pandas as pd

dataset_original = pd.read_csv("/home/rajendran/DatasetWithAccuracy.csv")

generated_dataset = pd.DataFrame({
    'feat_01': [],
    'feat_11': [],
    'feat_02': [],
    'feat_12': [],
    'feat_03': [],
    'feat_13': [],
    'feat_04': [],
    'feat_14': [],
    'feat_05': [],
    'feat_15': [],
    'acc_target': []
})

start = 0
end = 5
for i in range(len(dataset_original) - 4):
    row_values = {
        'feat_01': dataset_original.loc[i][0],
        'feat_11': dataset_original.loc[i][1],
        'feat_02': dataset_original.loc[i+1][0],
        'feat_12': dataset_original.loc[i+1][1],
        'feat_03': dataset_original.loc[i+2][0],
        'feat_13': dataset_original.loc[i+2][1], 
        'feat_04': dataset_original.loc[i+3][0],
        'feat_14': dataset_original.loc[i+3][1], 
        'feat_05': dataset_original.loc[i+4][0],
        'feat_15': dataset_original.loc[i+4][1],  
        'acc_target': dataset_original.loc[i][2]
    }
    generated_dataset = generated_dataset.append(row_values, ignore_index=True)
    
#print(generated_dataset)

generated_dataset.to_csv('/home/rajendran/generated_dataset.csv', index=False)

      feat_01   feat_11   feat_02   feat_12   feat_03   feat_13   feat_04  \
0    0.201231  0.780043  0.095891  0.914805  0.112026  0.990400  0.622160
1    0.095891  0.914805  0.112026  0.990400  0.622160  0.303984  0.401484
2    0.112026  0.990400  0.622160  0.303984  0.401484  0.086124  0.338420
3    0.622160  0.303984  0.401484  0.086124  0.338420  0.034517  0.540731
4    0.401484  0.086124  0.338420  0.034517  0.540731  0.678994  0.726798
..        ...       ...       ...       ...       ...       ...       ...
994  0.315165  0.357969  0.898852  0.206804  0.772594  0.758027  0.259799
995  0.898852  0.206804  0.772594  0.758027  0.259799  0.613577  0.491701
996  0.772594  0.758027  0.259799  0.613577  0.491701  0.417463  0.180258
997  0.259799  0.613577  0.491701  0.417463  0.180258  0.541591  0.037138
998  0.491701  0.417463  0.180258  0.541591  0.037138  0.610111  0.479882

      feat_14   feat_05   feat_15  acc_target
0    0.303984  0.401484  0.086124    1.000000
1    0.086124  0.338420  0.034517    1.000000
2    0.034517  0.540731  0.678994    1.000000
3    0.678994  0.726798  0.117432    0.888889
4    0.117432  0.920824  0.101476    1.000000
..        ...       ...       ...         ...
994  0.613577  0.491701  0.417463    1.000000
995  0.417463  0.180258  0.541591    1.000000
996  0.541591  0.037138  0.610111    1.000000
997  0.610111  0.479882  0.363861    1.000000
998  0.363861  0.155007  0.434110    1.000000

[999 rows x 11 columns]